.dot {
  width: 100vw;
  height: 100vh;
  background-image: url("/img/bg.png");
  background-repeat: repeat;
}

.dot-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}

.section {
  width: 100vw;
  min-height: 100vh; /* same as dot */
}

.bg-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
}

.path-1 {
  width: 50%;
  height: 50%;
}

@media (max-width: 600px) {
  .dot.dot-1 {
    mask-size: 110vh;
  }
  .dot.dot-5 {
    height: 160vh;
    mask-size: 160vh;
  }
  .dot.dot-6 {
    height: 140vh;
    mask-size: 140vh;
  }
  .dot.dot-7 {
    height: 130vh;
    mask-size: 130vh;
  }
}
